<a href="https://colab.research.google.com/github/Devankshi12/ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas is a powerful data manipulation library in pyhton.used for data analysis and data cleaning

In [ ]:
import pandas as pd

In [ ]:
#series
#a pandas series is a 1d array-like obj that can hold ay data type

import pandas as pd
data=[1,2,333,45,5]
series=pd.Series(data)
print("Series\n",series)

Series
 0      1
1      2
2    333
3     45
4      5
dtype: int64

In [ ]:
 #create series from dictionary
 data={'a':1,'b':2,'c':3}
 series_dict=pd.Series(data)
 print(series_dict)

a    1
b    2
c    3
dtype: int64

In [ ]:
data=[10,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    10
b    20
c    30
dtype: int64

In [ ]:
##dataframe
#create a dataframe from a dictionary of list
data={
    'Name':['Krish','John','Jack'],
    'Age':[23,34,34],
    'City':['bang','ny','us']
}
df=pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age  City
0  Krish   23  bang
1   John   34    ny
2   Jack   34    us
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#create a data frame from list of dictionaries

data=[
    { 'name': 'krish','age':32,'city':'bangalore'},
     { 'name': 'john','age':34,'city':'bangalore'},
      { 'name': 'gol','age':32,'city':'bangalore'},
       { 'name': 'ddkj','age':32,'city':'bangalore'},
]
df=pd.DataFrame(data)
print(df)
print(type(df))

    name  age       city
0  krish   32  bangalore
1   john   34  bangalore
2    gol   32  bangalore
3   ddkj   32  bangalore
<class 'pandas.core.frame.DataFrame'>