<a href="https://colab.research.google.com/github/Devankshi12/ML/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL AND SQLite

In [1]:
import sqlite3

In [2]:
 ##connect to an SQLite
 connection=sqlite3.connect('example.db')
 connection

In [3]:
cursor=connection.cursor()

In [5]:
#create a table
cursor.execute('''
create table If Not Exists employees(
    id Integer Primary Key,
    name Text NOt Null,
    age Integer,
    department text
    )
''')
#commit the changes
connection.commit()

In [6]:
cursor.execute('''
Select * from employees


''')

In [7]:
##insert the data in sqlite table
cursor.execute('''
Insert Into employees(name,age,department)
                values('deva',21,'IT')
''')

cursor.execute('''
INSERT INTO employees (name,age,department)
VALUES('Bob',23,'Engineering')
''')

cursor.execute('''
INSERT INTO employees(name,age,department)
VALUES('charl',33,'Finance')

''')

#commit changes
connection.commit()

In [8]:
##Query the data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()

##print the queried data
for row in rows:
    print(row)

(1, 'deva', 21, 'IT')
(2, 'Bob', 23, 'Engineering')
(3, 'charl', 33, 'Finance')

In [10]:
##update the data in table
cursor.execute('''
UPDATE employees
Set age=34
where name="deva"
''')
connection.commit()

In [11]:
 ##Query the data from the table
 cursor.execute('Select * from employees')
 ros=ws=cursor.fetchall()

 ##print the queried data

 for row in rows:
     print(row)

(1, 'deva', 21, 'IT')
(2, 'Bob', 23, 'Engineering')
(3, 'charl', 33, 'Finance')

In [12]:
##delete from table
cursor.execute('''
Delete from employees
              where name = 'Bob'
''')
connection.commit()

In [13]:
#query the data
cursor.execute('Select * from employees')
rows=cursor.fetchall()

##print queried data

for row in rows:
    print(row)

(1, 'deva', 34, 'IT')
(3, 'charl', 33, 'Finance')